@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
	list-style:none;
}

body{
	font-family: 'Cairo', sans-serif;
	font-style: normal;
	color:#04293A;
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: linear-gradient(#FFFFFF, #FFDFBF);
	scroll-behavior: smooth;
}
/*--paleta DarkMode
DarkMode_BG:#04293A
DarkMode_PRI:#0066FF
DarkMode_SEC:#CCCCCC
DarkMode_TER:#00CC99
---------------------*/

/*--Paleta------
primario100:#003399
primario200:#003366

secundario100:#FFCC99
secundario200:#FF9933

terciario100:#009966
terciario200:#006633
--------------*/

/*---------OPENING---------*/

h1{
	text-align: center;
	line-height: 33px;
	width: 500px;
	top: 350px;
	left: 16em;
	color:#FFFFFF;
}

header{
	background: #FFFFFF;
	position: sticky;
	top:0px;
	z-index: 200;
	box-shadow: -2px -2px 6px rgba(0, 0, 0, .4);
}

/*-------BOTONERA---------*/

* {box-sizing: border-box;}

.topnav {
	
	background-color: #FFFFFF;
	margin:0px;
}

.topnav a {
	float: left;
	display: block;
	text-align: center;
	padding: 12px 12px;
	text-decoration: none;
}

.topnav a:hover {
	color: black;
}

.topnav a.active {
	background-color: #FFFFFF;
	color: white;
}

.topnav .search-container {
	float: right;
	
}

.search-container{
	margin-top: 10px;
	border-radius:50px;
	padding-right:70px;
}

.topnav input[type=text] {
	color:#FFFFFF;
	background:#003399;
	padding: 6.85px 0px 10px 0px;
	margin-top: 8px;
	font-size: 15px;
	border: none;
	border-radius:20px 0px 0px 20px;
	padding-left: 15px;
}

.topnav .search-container button {
	float: right;
	padding: 7.3px 10px 7.3px 26px;
	margin-top: 8px;
	margin-left:-15px;
	margin-right: 2px;
	font-size: 17px;
	border: none;
	background:#003399;
	border-radius:0px 30px 30px 0px;
	cursor: pointer;
}

	.topnav .search-container button:hover {
		background: #04293A;
	}

/*------FALSA-NOTIF---------*/

.icon-wrapper{
	width: 35px;
	height: 35px; 
	position: relative;
}
.icon-wrapper::after{
	content: attr(data-number);
	width:15px;
	height: 15px;
	background-color: #FF9933;
	color: #fff;
	font-size: 0.7em;
	display: grid;
	place-content: center;
	border-radius: 50%; 
	position: absolute;
	top: 5px;
	right: 0;
	opacity: 0;
	transform: translateY(3px);
}
.icon-wrapper:hover::after{
	opacity: 1; 
	transform: translateY(0);
	transition: opacity .25s, transform .25s;
}
.bell-icon{
	max-width: 100%;
}
.icon-wrapper:hover .bell-icon{
	animation: shake 1s forwards;
}

@keyframes shake {
	10%{
		transform: rotate(15deg);
	}
	20%{
		transform: rotate(-15deg);
	}
	30%{
		transform: rotate(15deg);
	}
	50%{
		transform: rotate(0deg);
	}
}
/*-----------HAMBURGUESA-----------*/

#menu__toggle {
	opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
	top: 0;
	transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	right: 0 !important;
}
.menu__btn {
	position: fixed;
	top: 32px;
	right: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 305;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #616161;
	transition-duration: .40s;
}
.menu__btn > span::before {
	content: '';
	top: -8px;
}
.menu__btn > span::after {
	content: '';
	top: 8px;
	
}
.menu__box {
	z-index: 300;
	display: block;
	position: fixed;
	top: 0;
	right: -100%;
	width: 300px;
	height: 550px;
	margin: 0;
	padding: 60px 0 60px 110px;
	list-style: none;
	background-color: #ECEFF1;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
	transition-duration: .40s;
	border-radius: 6000px 0 0px 6000px;
	
}
.menu__item {
	text-align:center;
	width: 100%;
	height: 50px;
	display: block;
	padding: 12px 0px;
	color: #04293A;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	transition-duration: .25s;
	align-items: center;
}

.menu__item p{
	margin-right: 10px;
	float: left;
	align-items: center;
	align-self: center;
}

.menu__item img{
	margin-right: 10px;
	float: left;
	align-items: center;
	align-self: center;
	margin-top: 3px;
}


.menu__item:hover {
	background-color: #CFD8DC;
	border-radius:50px;
	padding-left:20px;
}

.menu__item h9{
	font-size: 0.6em;
}
/*------------------*/
.open-page{
	background-color: #FFDFBF;
	height: 200px;
	width: 100%;
	align-self: center;
}


/*-separador palabras--*/


.lo-nuevo{
	margin-top: 20px;
}
.para-vos{
	margin-top: 20px;
}

h2 {
	font-size: 1.35em;
	font-weight: 300;
	color:#003399;
	margin-top: 10px;
	text-align: center;
	border-bottom: 3px;
}
h2.linea {
	position: relative;
	z-index: 1;
}
h2.linea:before {
	border-top: 2px solid #003399;
	content: "";
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 95%;
	z-index: -1;
}

h2.linea span {
	border:3px solid;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius:30px;
	background: #ffffff;
	padding: 0 15px;
}

h2:hover{
	color:#FF9933;
	transition-duration: .25s;
}
/*--------CARDS---------*/

.splide{
	z-index: 100;
	margin-top: -2em;
}

.splide__slide{
	width: 50px;
}

.site-container{

	width: 270px;
	margin: 2rem auto;
	max-width: calc(100% - 100px);
}
.article-container{
	
	width: 270px;
	display:grid;

}
.article.image{
	
	margin:0;
	padding: 0;
	overflow: hidden;
}
.article-image img{
	max-width: 100%;
	border-radius:20px 20px 0 0;
}
.article-card{
	height: 500px;
	background:white;
	border-radius:25px;
	transition:0.3s;
	padding-bottom: 1rem;
}
.article-card:hover{
	box-shadow: 0 4px 20px 0 rgba(34,68,123,0.2);
	cursor:pointer;
}
.article-content{
	padding:0.5rem 2rem;
}
.article-content .card-category {
	font-size:0.775rem;
	text-transform:uppercase;
	letter-spacing:0.1em;
	font-weight:600;
	color:#6b82a7;
	display:block;
	text-decoration:none;
}
.article-content .card-title{
	margin: -0.2rem 0;
	color: #003366;
}
.article-content .card-excerpt{
	font-size: 1rem;
	line-height:1.5rem;
	color: #6b82a7;
	margin:0;
}
.article-content .card-talle{
	background-color: #003366;
	color:#FFFFFF;
	padding: 0 10px;
	border-radius: 200px;
	
}

.article-content .card-precio{
	border: 2px solid #003366;
	color:#04293A;
	padding: 0 10px;
	border-radius: 100px;
	float: right;

}

.article-content .card-precio:hover{
	border: 2.8px solid #003366;
	font-weight: 600;
}

.article-content .card-talle:hover{
	font-weight: 600;
}

.article-content .card-title:hover{
	padding-left:3px;
	border-radius: 50px;
}

.splide__arrow svg{
	fill:#003399 !important;
}

.splide__arrow:hover:not(:disabled) svg{
	fill: #FF3399 !important;
}

.splide__pagination__page.is-active{
	background: #003399!important;
}
.splide__pagination__page:hover{
	background: #FF3399 !important;
}
/*---------SEPARADOR-4C-------*/
.separador-4c{
	width: 1150px;
	padding: 20px 30px;
	text-align: center;
	background-color: #003399;
	border-radius: 100px;
	color: #FFFFFF;
	text-decoration:none;
	line-height: 1.4em;
	align-self: center;
}
.separador-4c h4{
	font-weight:400;
	font-size: 1.1em;
}
.linkk {
	color: #FFFFFF;
	font-size: 1.18em;
} 
.linkk:hover {
	color: #FF9933;
} 

/*----CARDS------*/

.site-container2{
	width:auto;
	margin: 2rem 1rem;
	max-width:calc(100% - 100px);
}
.article-container2{;
	display:grid;
	grid-template-columns: 270px 270px 270px 270px 270px;
	gap:1.5rem;
}



/*--------FOOTER---------*/

footer{
	height:80px;
	width: 100%;
	margin-top:auto;
	
	font-weight: 300;
	color:white;
	padding:22px 0 25px 0;
	background-color:#04293A;
	display:flex;
	flex-direction: row;
	justify-content: center;
}

footer img{
	padding-left:10px;
	padding-right:10px;
	
}
footer p{
	padding: 0px 80px;
}

.RedeS{
	padding-right:40px;
}

.FootLogo{
	left:40px; 
}

/*-------HTML INITIAL FIRST TIME-------*/
.INITIAL{
	background: url(https://i.pinimg.com/originals/2d/1e/71/2d1e71a7d70c4f7fe31cf1ff12cadb18.jpg) no-repeat center fixed;
	background-size: cover;
}


.FApertura h1{
	position: absolute;
	top: 45%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	backdrop-filter: blur(5000px);
	-webkit-backdrop-filter: blur(5000px);
	box-shadow: 1px 4px 18px 10px rgba(00,00,00,0.3);
	background: rgba(00,00,00,0.5);
	border: 2px solid;
	padding: 1em;
	border-radius: 40px;
}
.anim-ver-mas{
	position: absolute;
	top: 70%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	list-style: none;
	text-decoration:none;
}

.cta{
	display:flex;
	align-items: center;
	color: #FFFFFF;
	background: none;
	border:none;
	padding:12px 18px;
	text-shadow: 1px 4px 7px rgba(00,00,00,5);
	position: relative;
	cursor: pointer;
	font-size: 1.2em;
}
.cta:before {
	content: "";
	position: absolute;
	top:50%;
	transform: translateY(-50%)
		translateX(calc(30% + 4px));
	width: 45px;
	height: 45px;
	background: #003366;
	border-radius:70px;
	transition: transform .25s .25s cubic-bezier(0, 0, .5,2), width .25s cubic-bezier(0, 0, .5, 2);
	z-index: -1;
	box-shadow: 0.8px 4px 10px rgba(0,0,0,1);
}
.cta:hover::before {
	width: 100%;
	transform:translateY(-50%)
		translateX(-18px);
	transition:transform .25s cubic-bezier(0, 0, .5, 2), width .25 .25s cubic-bezier(0, 0, .5, 2);
	
}
.cta i {
	margin-left: 5px;
	transition: transform .25s .4s cubic-bezier(0, 0, .5, 2);
}
.cta:hover i{
	transform: translateX(3px);
	
	
}
.Inicio{
	width: 100%;
	top:75%;
	align-self: center;

}
header h2{
	font-weight:400;
	text-align: center;
	line-height: 33px;
	width: 500px;
	position: absolute;
	top: 57%;
	color:#FFFFFF;
}
.FraseInicial{
	text-shadow: 2px 5px 3px #000000;
	font-size: 1.1em;
}

.R{
	position: absolute;
	top: 80%;
	left: 55%;
	-ms-transform: translate(-50%, -40%);
	transform: translate(-50%, -40%);
	text-align: center;
	margin: 0px 15px;
	width: 150px;
	border: 3px solid;
	border-radius: 50px;
	border-color: #FFCC99;
	color:#FFCC99;
	box-shadow: 0.8px 4px 10px rgba(0,0,0,1);
}
.IS{
	position: absolute;
	top: 80%;
	left: 55%;
	-ms-transform: translate(-180%, -40%);
	transform: translate(-180%, -40%);
	text-align: center;
	margin: 0px 15px;
	width: 150px;
	border: 3px solid;
	border-radius: 50px;
	border-color: #FFCC99;
	color:#FFCC99;
	box-shadow: 0.8px 4px 10px rgba(00,0,0,1);
}

.FraseInicial :hover {
	border: 3.5px solid;
	border-color: #FF9933;
	color:#FF9933;
	font-weight:700;
	cursor: pointer;
	
}

/*---------Vista INICIO SESION OTRO HTML-------*/

.body-iniciosesion, .body-registro{
	margin: 0;
	background: url(https://i.pinimg.com/originals/2d/1e/71/2d1e71a7d70c4f7fe31cf1ff12cadb18.jpg) no-repeat center fixed;
	background-size: cover;
	background-attachment: fixed;
}
.body-iniciosesion *, .body-registro * {
	box-sizing: border-box;
}
.body-iniciosesion .contenedor, .body-registro .contenedor{
	width: 100%;
	padding: 15px;
	
}
.body-iniciosesion .formulario, .body-registro .formulario{
	background: #fff;
	margin-top: 150px;
	padding: 7px;

}
.body-iniciosesion h1, .body-registro h1 {
	padding-top: 15px;
	text-align: center;
	color: #04293A;
}
.body-iniciosesion input[type="text"], .body-registro input[type="text"],
.body-iniciosesion input[type="password"], .body-registro input[type="password"]{
	font-size: 20px;
	width: 82%;
	padding: 10px;
	border: none;
}
.body-iniciosesion .input-contenedor, .body-registro .input-contenedor {
	margin-bottom: 20px;
	border: 2px solid #aaa;
	border-radius: 40px;
}
.body-iniciosesion .icon, .body-registro .icon {
	min-width: 60px;
	text-align: center;
	color: #04293A;
}	
.body-iniciosesion .button, .body-registro .button {
	border:3px solid;
	width: 100%;
	color: #003366;
		font-size: 20px;
	background: none;
	padding: 15px 20px;
	border-radius: 45px;
	cursor: pointer;
}
.body-iniciosesion .button:hover, .body-registro .button:hover{
	background: #003399;
	color: #FFFFFF;
}
.body-iniciosesion p, .body-registro p {
	text-align: center;
}
.body-iniciosesion .link, .body-registro .link {
	text-decoration: none;
		color: #1a2537;
	font-weight: 600;
	text-align: center;
}
.body-iniciosesion .link:hover, .body-registro .link:hover{
	color: #003399;
}
@media(min-width:768px)
{
	.body-iniciosesion .formulario, .body-registro .formulario {
		margin: auto;
		width: 500px;
		margin-top: 150px;
		border-radius: 15%;
	}
}

/*---------Vista REGISTRO OTRO HTML-------*/

